<mat-sidenav-container class="side-nav">
    <button mat-button class="menu-button">
        <mat-icon class="menu-icon">home</mat-icon><a href="">Home</a>
    </button>
    <button mat-button class="menu-button">
        <mat-icon class="menu-icon">search</mat-icon><a href="">Search</a>
    </button>
    <button mat-button class="menu-button">
        <mat-icon class="menu-icon">list</mat-icon><a href="">Library</a>
    </button>
    <br><br>
    <button mat-button class="menu-button">
        <mat-icon class="menu-icon">add_box</mat-icon><a href="">New Playlist</a>
    </button>
    <button mat-button class="menu-button">
        <mat-icon class="menu-icon">favorite_border</mat-icon><a href="">Liked Songs</a>
    </button>
</mat-sidenav-container>  
