.side-nav {
    background-color: #191919;
    width: 250px;
    height: 100%;
    padding: 40px 0;
}

.menu-button{
    width: 100%;
    padding: 6px 0 6px 25px;
    font-size: 1.1em;
    text-align: left;
}

.menu-icon{
    margin: 3px 3px 8px 0;
    color: beige;
}

a{
    color: beige;
    text-decoration-line: none;
}